.videoContainer {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  margin-bottom: 1rem;
}

.videoContainer:hover {
  transition: 0.2s;
  background-color: var(--rb-grey);
}

.optionMenuContainer {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  height: fit-content;
}

@media screen and (min-width: 768px) {
  .videoContainer {
    grid-template-columns: 2fr 0.2fr;
    margin-left: 39.2rem;
    padding: 1rem;
    margin-bottom: 0;
  }

  .videoInfo {
    justify-content: space-between;
  }
}
