.videoItem {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.videoDuration {
  position: absolute;
  padding: 0.1rem 0.2rem;
  bottom: 0.4rem;
  right: 0;
  background-color: var(--rb-black);
  color: var(--rb-very-light-grey);
  font-weight: bold;
}

.itemInfoContainer {
  display: grid;
  grid-template-columns: 1.3fr 0.2fr;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionMenuContainer {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  height: fit-content;
}

@media screen and (min-width: 768px) {
  .videoItem {
    padding: 0 0.5rem;
    flex-basis: 25%;
  }

  .videoItem:hover {
    transition: 0.2s;
    box-shadow: 0.18px 0.1rem 1.25rem 0.1rem var(--rb-light-black-shadow);
  }
}
