.categoriesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 0.6rem 1rem;
}

.categoryItem {
  text-align: center;
  min-width: fit-content;
  margin-right: 0.5rem;
  padding: 0.5rem 0.9rem;
  border-radius: 10rem;
  background-color: var(--rb-grey);
}

.categories::-webkit-scrollbar {
  display: none;
}

.categoryActive {
  background-color: var(--rb-light-black);
  color: var(--rb-very-light-grey);
}

@media screen and (min-width: 768px) {
  .categoriesContainer {
    margin-top: 5rem;
  }
}
