.categories {
  display: flex;
  align-items: center;
  overflow: auto;
  margin-top: 4rem;
  padding: 0.6rem 2rem;
}

.category {
  text-align: center;
  min-width: fit-content;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  background-color: var(--rb-grey);
}

.categories::-webkit-scrollbar {
  display: none;
}
