.modal-actions {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.modal__small {
  text-align: center;
  top: 17rem;
  bottom: 17rem;
  left: 3rem;
  right: 3rem;
  padding: 1rem;
}
.modal-actions strong {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal__small {
    left: 30rem;
    right: 30rem;
  }
}
