.error-msg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  height: 90vh;
  background-color: var(--rb-light-grey);
}

.error-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: var(--rb-light-black);
}

.error-msg-bold {
  font-size: 2rem;
  font-weight: bold;
}

.error-msg-take-home {
  padding: 1rem 4rem;
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .error-msg-container {
    margin-top: 5rem;
    margin-left: 13.6rem;
    height: 77vh;
  }
}
