.liked-items {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .liked-items {
    padding: 1rem 0;
  }

  .playlist-image {
    width: 100%;
  }

  .liked--title {
    font-size: 1.5rem;
  }
}
