.playlists--container {
  margin-top: 5rem;
  margin-bottom: 4rem;
  padding: 0 1rem;
}

.playlists--title {
  padding: 1rem 0;
}

.playlists-empty {
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .playlists--container {
    margin-left: 13.6rem;
  }

  .playlists--title {
    font-size: 1.5rem;
  }
}
