.playlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--rb-grey);
}

.link__large {
  width: 80%;
}

.playlist-item .item--video-count {
  color: var(--rb-dark-grey);
}

.btn-delete-playlist {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .playlist-item {
    width: 80%;
    margin: auto;
  }

  .playlist-item:hover {
    background-color: var(--rb-grey);
  }
}
