.playlisted-videos {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0 1rem;
}

.playlist-details {
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  .playlisted-videos {
    padding: 1rem 0;
  }

  .playlist-image {
    width: 100%;
  }

  .playlist-title {
    font-size: 1.5rem;
  }

  .playlist-details {
    display: none;
  }
}
