.sidebar-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .sidebar-nav {
    display: block;
    position: fixed;
    top: 5rem;
    width: 16%;
    height: 100vh;
    border-right: 1px solid var(--rb-dark-grey);
  }

  .links-container {
    padding: 1rem;
    list-style: none;
  }

  .links-container li {
    padding: 1rem;
  }

  .link-name {
    padding-left: 1rem;
  }
}
