.watchlater-videolist {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0 1rem;
}

.watchlater-videos-count {
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .watchlater-videolist {
    padding: 1rem 0;
  }

  .playlist-image {
    width: 100%;
  }

  .watchlater--title {
    font-size: 1.5rem;
  }
}
