.historyVideos {
  margin-top: 5rem;
  margin-bottom: 4rem;
  padding: 0 1rem;
}

.historyHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 1.5rem;
}

.lastViewTitle {
  font-weight: bold;
  padding: 0.5rem 0;
}

.noVideosFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  text-align: center;
  height: 80vh;
}

.clearHistoryButton {
  padding: 0.2rem 0.5rem;
}

@media screen and (min-width: 768px) {
  .historyVideos {
    padding: 1rem 0;
  }

  .historyHeader {
    display: none;
  }

  .lastViewTitle,
  .emptyLastView {
    text-align: center;
    font-size: 1.2rem;
    margin-left: 39.5rem;
  }

  .emptyLastView {
    font-size: 1.5rem;
  }
}
