.playlistedVideos {
  margin-top: 5rem;
  margin-bottom: 4rem;
  padding: 0 1rem;
}

.playlistHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 1.5rem;
}

.noVideosFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  text-align: center;
  height: 80vh;
}

@media screen and (min-width: 768px) {
  .playlistedVideos {
    padding: 1rem 0;
  }

  .playlistHeader {
    display: none;
  }
}
